.contact-form>form>{
    color: white;
    font-size: 18px;
}
.contact-heading h1{
    font-size: 50px;
    color: #a57e8a;
    font-weight: 800;
    margin-bottom: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.contact-form{
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
}
.contact-form>form>button{
    text-align: center;
    margin-left: 43%;
    margin-right: auto;
    /* border: 1px solid white; */
    width: 30%;
    height: 100px;
}

/* .contact-form>form>label>button{
    margin-left: 40%;
} */
.con{
    margin-left: -2%;
}
.contact-main{
    margin: 10%;
}



.contact-form a i{
    color: white;
    background-color: #a57e8a;
    text-align: center;
    border-radius: 5%;
    margin: 3%;
}

.AnotherLinks{
    margin-left: 35%;
    margin-right: auto;
}

.fa-envelope{
    background-color: #a57e8a;
    /* width: 100%; */
    color: white;
    margin-left:-50%;
    border: 1px solid white;
}

.form-btn{
    background-color: black;
    border: none;
}


@media only screen and (max-width:1224px){
    .contact-form a i{
        color: white;
        background-color: #a57e8a;
        text-align: center;
        border-radius: 5%;
        margin: 2%;
    }
    
    .AnotherLinks{
        margin-left: 25%;
        margin-right: -50%;
    }

    
    .contact-form>form>button{
        text-align: center;
        margin-left: 36%;
        margin-right: auto;
        /* border: 1px solid white; */
        width: 30%;
        height: 100px;
    }
    .fa-envelope{
        background-color: #a57e8a;
        /* width: 100%; */
        color: white;
        margin-left: 20%;
        border: 1px solid white;
    }
    
    .form-btn{
        background-color: black;
        border: none;
    }
    
    
    
}


@media only screen and (max-width:500px) {
    .contact-form a i{
        color: white;
        background-color: #a57e8a;
        text-align: center;
        border-radius: 5%;
        margin: 1%;
    }
    
    .AnotherLinks{
        margin-left: 15%;
        /* margin-right: auto; */
    }
    .contact-form>form>button{
        text-align: center;
        margin-left: 30%;
        margin-right: auto;
        /* border: 1px solid white; */
        width: 30%;
        height: 100px;
    }
}

