.project-heading h1{
    font-size: 50px;
    color: #a57e8a;
    font-weight: 800;
    margin-bottom: 2%;
    text-align: center;
}

.project-img a img{
    width: 100%;
    height: 200px;
}

.projInfoText{
    color: white;
    margin-top: 4%;
    padding: 2%;
    line-height: 20px;
    font-size: 17px;
    font-weight: 100;
}

.project-main{
    width: 80%;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 2%;
    margin-top: 5%;
}

.project-card{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 7%;
    justify-content: center;
    /* width: 100%; */
}

.projOne{
    /* border: 1px solid white; */
    padding: 1%;
    border-radius: 4%;
    /* background-color: rgb(22, 29, 29); */
    box-shadow: 10px 10px 30px grey;
    /* align-items: center; */

}


@media only screen and (max-width:1224px){
    .project-card{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        gap: 7%;
        justify-content: center;
    }
    .projOne{
        width: 90%;
        /* border: 1px solid white; */
        padding: 1%;
        border-radius: 4%;
        /* background-color: rgb(22, 29, 29); */
        box-shadow: 10px 10px 30px grey;
        margin-top: 5%;
        margin-left: 35%;
    }
    .project-heading{
        margin-left: 30%;
    }
    
}


@media only screen and (max-width:500px) {
    .project-card{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        gap: 7%;
        justify-content: center;
        width: 100%;
    }
    .projOne{
        width: 100%;
        /* border: 1px solid white; */
        padding: 1%;
        border-radius: 4%;
        /* background-color: rgb(22, 29, 29); */
        box-shadow: 10px 10px 30px grey;
        margin-top: 5%;
        margin-left: 35%;
    }
    .project-heading{
        margin-left: 30%;
    }
}

