.skill-card{
    width: 15%;
    height: 150px;
    background-color: rgb(85, 82, 78);
    border-radius: 10%;
    box-shadow: 10px 10px 30px grey;
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
}

.skill-card img{
    margin-top: 18%;
    width: 40%;
}
.skill-card h3{
    font-size: 20px;
}

.Skills-info{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
}

.skills-main{
    /* border: 1px solid white; */
    padding: 10%;
}
.skills-heading h1{
    font-size: 50px;
    color: #a57e8a;
    font-weight: 800;
    margin-bottom: 2%;
    text-align: center;
}